* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.laba {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px
}

.startPage {
    text-align: center;
    line-height: 100vh;
    font-size: 30px;
    color: red;
}

h1 {
    padding-left: 10px;
    /* margin-top: 30%!important; */
}

h1>a {
    font-size: 30px;
}

ul {
    padding: 35px 10px 0 10px;
}

li {
    line-height: 45px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 20px;
    list-style-position: inside;
    margin-bottom: 15px;
    text-align: left;
    font-size: 30px;
    width: 220px;
    font-weight: bold;
}

#pg{
    background: #fff;
    margin: 25px 0 20px 0;
}

#member {
    border: 2px solid green;
    border-radius: 3px;
    padding: 5px 15px;
    display: block;
    width: 125px;
    background: #fff;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
}

#pg{
    vertical-align: middle;
    margin-right: 5px;
    height: 5px;
}
#percent {
    vertical-align: middle;
    vertical-align: sub;
    width: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 20px;
    color: #000;
    margin-top: 20px;
}

#box {
    position: relative;
    width: 112px;
    margin-left: 28px;
    top: -8px;
}

#top {
    /* width: 40px; */
    text-align: left;
    position: absolute;
    left: 0;
    top: -30px;
    font-size: 30px;
    line-height: 30px
}

#hover{
    font-size: 30px;
    position: absolute;
    pointer-events: none;
    top:0;
    left:0;
    color:red;
    overflow: hidden;
    text-align: left;
    height: 30px;
    position: absolute;
    left: 0;
    top: -30px;
    background: #fff;
    line-height: 30px
}
 
.over{
    animation: test;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:normal; 
}

@keyframes
test{
    0%{
        width:0px;
    }
    100% {
        width:100%;
    }
}