* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.laba {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px
}

.startPage {
    text-align: center;
    line-height: 100vh;
    font-size: 30px;
    color: red;
}

h1 {
    padding-left: 10px;
    /* margin-top: 30%!important; */
}

h1>a {
    font-size: 55px;
}

ul {
    padding: 35px 10px 0 10px;
}

li {
    line-height: 45px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 20px;
    list-style-position: inside;
    margin-bottom: 15px;
    text-align: left;
    font-size: 18px;
    width: 220px;
}

#pg{
    background: #fff;
    margin: 25px 0 20px 0;
}

#member {
    border: 2px solid green;
    border-radius: 3px;
    padding: 5px 15px;
    display: block;
    width: 125px;
    background: #fff;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

#pg{
    vertical-align: middle;
    margin-right: 5px;
    height: 5px;
}
#percent {
    vertical-align: middle;
}